.row{
    display: flex;
    align-items: stretch;
};

.row .label{
    flex: 0 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row .container{
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.row .dish {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pasta{
    background-color: bisque;
}

.pizza{
    background-color: brown;
}

.burrito{
    background-color: grey;
}




/* Bar Chart */

.columns{
    display:flex;
    height: 400px;
    max-width: 300px;
    align-items: stretch;
    border: 1px solid black;
}

.container2{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
}

.bar{
    border-right: 1px solid white;
}

.female{background-color: pink;}
.male{background-color: blue;}